body{
  font-family: 'Lato', sans-serif;
	background-image: url("../images/Background.jpg");
}

h1{
  font-family: 'Satisfy', cursive;
	text-shadow: 2px 2px #6a6a6a;
}

h2{
  font-family: 'Satisfy', cursive;
	padding-top: 12px;
	padding-bottom: 12px;
	font-weight: bold;
  font-size: 2em;
	background-image: url("../images/bw_seal_of_sf.svg.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 40px;
}

.header{
	background-color: rgba(95, 85, 42, 0.616);
  color: black;
	border-radius: 10px;
}
/* navajowhite */
.text{
	background-color:rgba(245, 245, 220, 0.5);
	padding: 15px;
	border-radius: 10px;
	letter-spacing: .02em;
  line-height: 1.5em;
  font-size: 1.1em;
}

.home {
	background-image: url("../images/seal_of_san_francisco.png");
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 60px;
  font-size: 3.5em;
	text-decoration: none;
}

a:link{
	text-decoration: none;
}

a:hover{
	color: #63a6bf;
	border-radius: 4px;
	text-decoration: underline;
	
}

.container{
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	width: 95%;
	max-width: 1000px;
	display: block;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 0 30px;
}


nav, .home, .population, .hood, .economy, .source{
	grid-column: 1/4;
}

.about div{
	/* grid-column: 1/2; */
	display: block;
}

.history{
	/* grid-column: 2/3; */
	display: block;
}

.geography{
	/* grid-column: 3/4; */
	display: block;
}

/*navigation bar*/
.menu{
	text-align: center;
}
.menu ul{
	list-style-type: none;
	display: inline-block;
  padding-inline-start: 0px;
}
.menu li{
	/*border: 1px solid #207278 ;*/
	float:left;
	margin-left:20px;
}
.menu ul li a{
	display: block;
  font-size: 1.2em;
	padding:10px;
	color: black;
}

.menu ul li a:hover{
	color: white;
	background-color: #3BBA9C;
}

.menu a.is-current{
	background-color:white;
}

@media(max-width: 480px){
	.menu li{
		margin-bottom: 5px;
	}
}

/*table*/
table{
	/*border-collapse: collapse;*/
	padding: 5px;
 	width: 100%;
}

tr{
	background-color: #729fb0;
	color: black;
	
}

tr:nth-child(even) {
	background-color: #91adb8;
	color: black;
}


th{
	/*color: #177539;
	background-color: #828282;*/
	height: 2.8em;
	text-align: left;
	background-color: white;
	color: black;
}

/* table td, table th{
	/*border: 1px solid #292929;
} 
*/


.figRight{
	float: right;
}

.figLeft{
	float: left;
}

.source{
	text-align: center;
}